{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить {{ category_delete.name }}
        {% if category_delete %}
            <b>({{ category_delete.name|title }}</b>
        {% endif %}
         ======================================
{#        <form action="{% url 'admin:category_delete' category_delete.pk %}"#}
        <form action="{% url 'adminapp:category_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'adminapp:categories' %}"> Отмена</a>
        </button>
    </div>
{% endblock %}