{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить <b>{{ product_to_delete.name|title }}</b>

        <form action="{% url 'admin:category_delete' product_to_delete.pk %}"
              method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:products' product_to_delete.category.pk %}"> Отмена</a>
        </button>
    </div>
{% endblock %}